*{ box-sizing: border-box;
   margin: 0px;
}

html, body{
    height: 100%;
}

header{
    background-color: #FFFFFF;
}

#logo{
    text-align: center;
    color: #646464;
    float: left;
    z-index: 1;
    position: absolute;
    background-color: white;
    margin-top: 30px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 10px;
    border-right-width: 10px;
}

#menu-switch{
    display: none;
}

.fa-power-off{
    float: right;
    margin-right: 10px;
    background-color: white;
    color: red;
    margin-top: 20px;
}

#menu-switch + div.session{
    display: none;
}

#menu-switch:checked + div.session{
    display: inline-block;
}

.session{
    margin: 10px;
}

.session input{
    margin: 5px;
    width: 110px;
}

.header-container, .footer-container{
    position: relative;
    background-image: url('../img/images.png');
    height: 100px;
}

.header-container nav{
    position: absolute;
    background-color: #FFFFFF;
    z-index: 1;
    margin-top: 30px;
    margin-left: 70px;
}

.menu-mobile{
    float: right;

}

.menu-mobile i {
    margin-right: 10px;
    margin-top: 10px;
}

.menu{
    padding: 0px;
    margin: 5px;
    margin-top: auto;
    margin-bottom: auto;
}


li a{
    text-decoration: none;
    color: #267ba5;
    text-transform: uppercase;
    font-size: 16px;
}

.main-menu li{
    list-style-type: none;
    margin: 5px;
    overflow: hidden;
    display: inline-flex;

}


.vista-usuario{
    height: 50px;
    width: 85%;
    display: inline-flex;
    float: left;
}

.vista-perfil{
    width: 100%;
    height: 100%;
}

.vista-perfil img{
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 5px;
    margin-right: 15px;
}

label#user_name{
    margin: 15px;
    text-align: center;
    position: absolute;
}

.mensaje{
    margin-left: 10px;
    font-family: 'OpenSans', Sans-serif;
    text-transform: uppercase;
    color: grey;
}

.main-container{
    width: 100%;
}

iframe{
    width: 95%;
    margin: 5px;
}


.parrafo-final{
    background-color: white;
    width: 170px;
    margin-left: 20%;
    margin-right: 20%;
    position: absolute;
    margin-top: 40px;
    color: #657ba5;
}

.parrafo-final a{
    color: black;
}

@media(min-width: 768px){

    .menu-mobile{
        display: none;
    }

    #logo {
        width: 45%;
        text-align: left;
    }

    .menu{
        display: inline-flex;
    }
}